html,
body {
  margin: 0;
  height: 100%;
  font-family: "Inter", sans-serif;
  line-height: 1.15;
}

input,
textarea,
button {
  // Form elements don't inherit font settings by default
  font-family: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
